@import url('https://fonts.googleapis.com/css?family=Francois-One|Raleway');

body,
html {
  font-family: 'Raleway', sans-serif;
}

header {
  height: 100vh;
  background-image:url(dog-on-couch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h2 {
  font-family: 'Francois One', sans-serif;
  font-weight: bolder;
  margin-bottom: 50px;
}

hr {
  width: 70%;
}

section {
  padding: 50px;
}

footer {
  background-color: #f8f8f8;
  padding: 15px;
}

button {
  margin: 20px;
}

#mainNav {
  background-color: rgba(255,255,255,0.8);
  border: none;
}

.header-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  font-family: 'Francois One', sans-serif;
  font-weight: bolder;
  font-size: 90px;
  color: white;
  /*transform: translate(-105%, 40%);*/
}

.header-logo-text {
  font-size: 20px;
  color: white;
  /*transform: translate(-105%, 50%);*/
}

#click-icon {
  position: absolute;
  margin: 0;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

.navbar-centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.send-btn {
  background-color: #2c3e57;
}

#tag {
  height: 50vh;
  background-image:url(https://68.media.tumblr.com/64a658c4c65db4d0e17e36c8c241895f/tumblr_oa0v8bfThO1r16pgyo1_1280.jpg);
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: cover;
  position: relative;
  font-family: 'Francois One', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

#PRODUCTS, #TEAM,
#CONTACT {
  height: 100vh;
}

#ABOUT, #PRODUCTS, #TEAM,
#CONTACT, #tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#PRODUCTS {
  flex-direction: column;
}

#buy-btn {
  background-color: #4979bb;
  color: white;
}

#PRODUCTS {
  background-color: #f5f5f5;
}

#CONTACT {
  background-color: #475971;
  color: white;
}